body { 
    margin: 0; 
    padding: 0;
    overflow: hidden; 
    background-color: #000; 
    font-family: sans-serif; 
}

/* லோடிங் திரை அமைப்பு */
#loading-screen {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(to bottom, #87CEEB, #E0F7FA);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 100;
}

.game-title { 
    font-size: 60px; 
    color: #FF6F00; 
    text-shadow: 3px 3px 0px white; 
    margin-bottom: 20px;
}

#progress-container { 
    width: 250px; 
    height: 15px; 
    background: rgba(255,255,255,0.5); 
    border-radius: 10px; 
    overflow: hidden; 
    border: 2px solid white;
}

#progress-bar { 
    width: 0%; 
    height: 100%; 
    background: #FFD700; 
    transition: 0.1s; 
}

/* கேம் UI ஸ்கோர் மற்றும் லைஃப் */
#game-ui { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 10; 
}

.stat-box { 
    background: rgba(0,0,0,0.6); 
    color: white; 
    padding: 10px 15px; 
    margin: 5px; 
    border-radius: 8px; 
    font-weight: bold;
}

.gold-carrot { 
    color: #FFD700; 
    border-left: 5px solid #FFD700;
}
